<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Title", autofocus: true %>
  </div>

  <div class="field">
    <%= f.hidden_field :username, value: current_user.username %>
  </div>

  <div class="field">
    <%= f.text_area :breaddit_post, placeholder: "Type your post here..." %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
  <% f.hidden_field :score, value: 0%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
